# Data cleaning(basics)

I have use the data from kaggle(link is here)-> https://www.kaggle.com/shivamb/netflix-shows/tasks

In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/hp/netflix_titles.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [2]:
df.info()          #it gives information about rows,columns,data type etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [3]:
df.shape    #it gives total no of rows and columns

(6234, 12)

In [4]:
df.head(100)      #it gives first 100 entry of csv file

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
95,81016750,Movie,The 3rd Eye,Rocky Soraya,"Jessica Mila, Denny Sumargo, Citra Prima, Bian...",Indonesia,28-Sep-18,2018,TV-MA,108 min,"Horror Movies, International Movies",When her little sister claims she sees the dea...
96,81002866,Movie,The Sinking Of Van Der Wijck,Sunil Soraya,"Herjunot Ali, Pevita Pearce, Reza Rahadian, Ra...",Indonesia,28-Sep-18,2013,TV-14,163 min,"Dramas, International Movies, Romantic Movies",When a young man leaves home to fulfill the wi...
97,80992039,Movie,Two Catalonias,"Álvaro Longoria, Gerardo Olivares",NaN,Spain,28-Sep-18,2018,TV-MA,117 min,"Documentaries, International Movies",Lawmakers and activists with conflicting ideol...
98,80126507,Movie,Bobby Sands: 66 Days,Brendan Byrne,NaN,"Ireland, United Kingdom",28-Sep-17,2016,TV-14,106 min,Documentaries,"In 1981, an imprisoned Irish Republican Army s..."
99,80225885,TV Show,Bard of Blood,NaN,"Emraan Hashmi, Viineet Kumar, Sobhita Dhulipal...",India,27-Sep-19,2019,TV-MA,1 Season,"International TV Shows, TV Action & Adventure,...","Years after a disastrous job in Balochistan, a..."

In [5]:
df.tail()    #it give ous last entrys of table ie 5 is default

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [6]:
df.tail(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6224,70304979,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6225,70153412,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6226,70243132,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
6227,80005756,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."
6228,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [7]:
df.columns          #it gives ous the column name in table

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [8]:
df['title']

0           Norm of the North: King Sized Adventure
1                        Jandino: Whatever it Takes
2                                Transformers Prime
3                  Transformers: Robots in Disguise
4                                      #realityhigh
                           ...
6229                                   Red vs. Blue
6230                                          Maron
6231         Little Baby Bum: Nursery Rhyme Friends
6232    A Young Doctor's Notebook and Other Stories
6233                                        Friends
Name: title, Length: 6234, dtype: object

In [9]:
filt=df['title']=='Friends'
df[filt]                           # it  gives ous the row which conatins title as Friends

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [10]:
df.dropna(axis='columns',how='any',inplace=True)        #remove all NaN value in table

In [11]:
df     #now all columns containing NaN value is removed

,show_id,type,title,release_year,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,2016,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,2003,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [12]:
filt=df['listed_in']=="Kids' TV"
df[filt]

,show_id,type,title,release_year,duration,listed_in,description
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
64,80239337,TV Show,Ben 10,2016,1 Season,Kids' TV,Ben can transform into ten types of aliens. He...
149,80115346,TV Show,Hilda,2018,1 Season,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
175,80057610,TV Show,Kulipari: An Army of Frogs,2016,1 Season,Kids' TV,"In a tale of bravery and heroism, fearless fro..."
...,...,...,...,...,...,...,...
6184,80003196,TV Show,Wakfu,2017,3 Seasons,Kids' TV,"Yugo, a 12-year-old Eliatrope with special pow..."
6189,80115432,TV Show,Spirit: Riding Free,2019,8 Seasons,Kids' TV,"In a small Western town, spunky ex-city girl L..."
6216,80108373,TV Show,The Magic School Bus Rides Again,2018,2 Seasons,Kids' TV,Ms. Frizzle's kid sister Fiona takes the wheel...
6220,70272742,TV Show,Justin Time,2012,2 Seasons,Kids' TV,"In Justin's dreams, he and his imaginary frien..."
6228,80159925,TV Show,Kikoriki,2010,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...

In [13]:
df['type']

0         Movie
1         Movie
2       TV Show
3       TV Show
4         Movie
         ...
6229    TV Show
6230    TV Show
6231      Movie
6232    TV Show
6233    TV Show
Name: type, Length: 6234, dtype: object

In [14]:
df.drop_duplicates(subset='release_year')          # it remove dupliactes value

,show_id,type,title,release_year,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,2014,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
...,...,...,...,...,...,...,...
3138,80158390,Movie,Amrapali,1966,116 min,"Dramas, International Movies, Music & Musicals",In the age of Buddha and his philosophy of non...
3147,80158481,Movie,Lal Patthar,1971,153 min,"Classic Movies, Dramas, International Movies","A vain, self-righteous nobleman falls in love ..."
4227,60002818,Movie,Sangam,1964,228 min,"Classic Movies, Dramas, International Movies",Returning home from war after being assumed de...
4292,81030762,TV Show,Pioneers: First Women Filmmakers*,1925,1 Season,TV Shows,This collection restores films from women who ...
5981,70172488,TV Show,The Twilight Zone (Original Series),1963,4 Seasons,"Classic & Cult TV, TV Sci-Fi & Fantasy","Hosted by creator Rod Serling, this groundbrea..."

In [15]:
df

,show_id,type,title,release_year,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,2016,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,2003,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [16]:
df.columns=df.columns.str.replace('_','@')

In [17]:
df

,show@id,type,title,release@year,duration,listed@in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,2016,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,2003,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [18]:
df.rename(columns={'show@id':'show_id','release@year':'release_year'})

,show_id,type,title,release_year,duration,listed@in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,2016,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,2003,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [19]:
df.count()

show@id         6234
type            6234
title           6234
release@year    6234
duration        6234
listed@in       6234
description     6234
dtype: int64

In [20]:
df.size

43638

In [21]:
df.loc[6234]=[70281029,'TV Show','Avengers',2012,'5 Seasons','Adventure','Fight between villian and hero']    #by this we can insert new value in table

In [22]:
df    # new value is inserted

,show@id,type,title,release@year,duration,listed@in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...
6230,70286564,TV Show,Maron,2016,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,2003,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...
6234,70281029,TV Show,Avengers,2012,5 Seasons,Adventure,Fight between villian and hero

In [23]:
df['type'].str.upper()        #by this we can convert all row in upper case

0         MOVIE
1         MOVIE
2       TV SHOW
3       TV SHOW
4         MOVIE
         ...
6230    TV SHOW
6231      MOVIE
6232    TV SHOW
6233    TV SHOW
6234    TV SHOW
Name: type, Length: 6235, dtype: object

In [24]:
df.describe()             #it gives ous bunch of value at one place

            show@id  release@year
count  6.235000e+03   6235.000000
mean   7.670265e+07   2013.359102
std    1.094239e+07      8.810930
min    2.477470e+05   1925.000000
25%    8.003569e+07   2013.000000
50%    8.016337e+07   2016.000000
75%    8.024488e+07   2018.000000
max    8.123573e+07   2020.000000

In [25]:
filt=df['title'].str.contains('Jandino: Whatever it Takes')
df[filt]                                                  # by this we can find particular thing in table

,show@id,type,title,release@year,duration,listed@in,description
1,80117401,Movie,Jandino: Whatever it Takes,2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [26]:
df['type'].drop_duplicates()

0      Movie
2    TV Show
Name: type, dtype: object

In [27]:
df['type'].value_counts()    #it gives ous occurence of  the value

Movie      4265
TV Show    1970
Name: type, dtype: int64